div.EventList {
    width: 100%;
    float: left;
    min-height: 25rem;
}

div.Events {
    min-width: 50%;
    max-width: 80%;
    margin: auto;
}

div.noEvents p {
    margin-top: 6rem;
    text-align: center;
}
