div.EventList {
    width: 100%;
    float: left;
    min-height: 25rem;
    margin-top: 1rem;
}

div.Events {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.noEvents p {
    margin-top: 6rem;
    text-align: center;
}
