div.AddEvent {
    margin: 1em;
    padding: 1em;
    display: inline;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

input, textarea {
    border: 1px solid #591E23;
    border-radius: 0.2rem;
    background-color: ivory;
}

.AddEvent {
    color: #373035;
}
