div.EventFullPage {
    margin: 1rem auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

div.EventFullPage div.EventHeader {
    height: 15rem;
}

.backArrow {
    margin: 1rem;
    height: 4rem;
    width: auto;
    opacity: 0.8;
}

.backArrow:hover {
    margin: 0.8rem;
    height: 4.4rem;
    cursor: pointer;
    opacity: 0.9;
}