div.Event {
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

.Event section {
    color: #373035;
}

button.removeEvent {
    float: right;
}
