div.Header {
    opacity: 0.8;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 5rem;
    background-color: #ffffff;
}

.Header button {
    font-size: 0.9rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    color: #333;
    border: 0;
}

.Header label {
    font-size: 0.9rem;
}

.Header a#akat {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8rem;
    display: inline-flex;
    margin: 0.5rem;
    color: #f91b73;
    text-decoration: none;
}

.Header nav {
    float: right;
    margin-top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    float: right;
}

nav a, a:visited {
    text-decoration: none;
    padding: 0.4rem;
    margin-top: 0;
    font-size: 1.2rem;
    color: #333;
}

#titleDiv {
    display: inline-block;
    width: 100%;
}