div.Login {
    margin: 0;
    margin-top: 0.1rem;
}

.Login input[type=text], .Login input[type=password] {
    padding: 0.1rem;
    font-size: 0.9rem;
    width: 8rem;
    margin: 0.1rem;
    margin-right: 0.3rem;
    margin-left: 0.2rem;
    border: solid #333 1px;
}

.Login label {
    color: #333;
}
