div.SignUp {
    margin: auto;
    padding: 1em;
    display: inline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

p.errorMessage {
    color: #cf0052;
    background-color: #ffe0ec;
    text-align: center;
}

span.attn {
    color: #cf0052;
    font-weight: 700;
}