div.AddEvent {
    border: 3px solid #018d8c;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    display: inline;
    float: left;
}

input, textarea {
    border: 1px solid #591E23;
    border-radius: 2px;
    background-color: ivory;
}

.AddEvent {
    color: #373035;
}
