div.EventList {
    border: 5px solid #f07797;
    border-radius: 0.4rem;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top:  6em;
    margin-bottom: 1em;
    width: 100%;
    float: left;
    background-color: white;
}

div.Events {
    min-width: 50%;
    float: left;
}

div.LoginSign {
    float: left;
}

div.noEvents p {
    text-align: center;
}
